<section class="parallax-bg2 parallax colored clearfix marginUp">
	<div class="content dark padded container">
		
		<div class="title grid-full">
			<h2>Add/edit site content here</h2>
			<span class="border"></span><br/><br/>
			<h6><%= link_to 'BACK TO SITE', root_path, :class => "button" %></h6>
		</div>

		<%= render partial: 'releases' %>
		<%= render partial: 'videos' %>
		<%= render partial: 'shows' %>
		<%= render partial: 'contacts' %>
		
	</div>
</section>